/* section-mainContactHero--style */
.mainContactHero {
  width: 100%;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1517178313064-9447953f46e8?q=80&w=2052&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  position: relative;
  top: 85px;
}
.mainContactHero h1 {
  text-align: center;
  font-weight: bolder;
  position: relative;
  top: 40%;
  font-size: var(--fontSize-800);
  color: var(--white);
  font-weight: var(--fontWeight-Bold);
  line-height: 1.1;
}

/* section-mainContacPage--style */
.mainContacPage{
  margin-top: 85px;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.brand {
  width: 100%;
  height: 100%;
  background-color: rgb(17, 39, 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
.brand i {
  font-size: 100px;
  color: red;
}
.brand h1 {
  font-size: 80px;
  color:white;
}
.brand p {
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: lighter;
}
.signUpContent-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 30px;
}
.signUpContent {
  width: 392px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.signUpContent h1 {
  font-size: 42px;
  letter-spacing: 2.11px;
}
.signUpContent h1 span {
 color: red;
}
.signUpContent p {
 font-size: 16px;
 padding-bottom: 20px;
 padding-top: 5px;
}
.input {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input :nth-child(3),
.input :nth-child(4){
  align-self: center;
}
.input-email,
.input-password,
.rememberMe{
  padding-bottom: 10px;
}
.input-email label,
.input-password label,
.rememberMe label{
  font-size: 18px;
  letter-spacing: 1.92px;
}
.input-email input,
.input-password input,
.rememberMe input{
  background-color: azure;
  padding: 10px 0;
  font-size: 18px;
}
.submitButton {
  width: 100%;
  height: auto;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.submitButton button,
.createAccount button {
  padding: 7px 12px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  display: inline-block;
 }
 .createAccount {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: relative;
  top: -77px;
 }
 .createAccount :nth-child(2){
  background-color: transparent;
  border: solid 1px red;
  color: red;
 }
